<%- layout("/layouts/boilerplate") %>

<body>
  <h1>All listings FosterHub</h1>
 <form action="/listings/listingsGenAge" method="get" class="mb-3 border border-2 p-2 rounded">
  <div class="row">
    <div class="col-3 mb-3">
      <label for="gender">Gender</label>
      <select id="gender" name="gender" class="form-select">
        <option value="all" selected>All (I don't judge!)</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  
    <div class="col-3 mb-3">
      <label for="age">Age Group</label>
     <select id="age" name="age" class="form-select">
  <option value="all" selected>All</option>
  <option value="baby">Baby (1–2 yrs)</option>
  <option value="adult">Adult (2–5 yrs)</option>
  <option value="senior">Senior (5+ yrs)</option>
</select>

    </div>
  </div>

  <button type="submit" class="btn btn-primary">Got it!</button>
</form>
 

  <!-- <form action="/listings/new" method="get">
    <button>Foster a paw</button>
  </form> -->

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings){ %>
      <a href="listings/<%=listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <div class="card-img-overlay">adopt ME!</div>
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 24rem;">
        <div class="card-body">
          <p class="card-text"><b><%=listing.name%></b></p>
          <p class="card-text">
            <%= listing.age %> | <%= listing.gender %>
          </p>    
        </div>
      </div>
    </a>  
      <%}%>
</div>
</body>

